* {
    box-sizing: border-box;
    font-size: 1em;
}



.Grid5 {
    font-size: 50%;
    
}

.grid2 {
  /* padding-right: 5px; */
   /* margin: 5px; */
/* border-radius: 10%; */
    
}

.grid3{
    height: 195px;


    
    /* margin: 10px;*/
}

.box {
    height: 150px;
    background-color: dodgerblue;
}

.Circle {
    background-color: fuchsia;
    height: 25px;
    width: 25px;
}


.grid4 {
    margin: 50px;
    
}